@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin boxShadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin transform($params) {
  -webkit-transform: $params;
  -moz-transform: $params;
  -ms-transform: $params;
  -o-transform: $params;
  transform: $params;
}

@mixin transform-origin($params) {
  -webkit-transform-origin: $params;
  -moz-transform-origin: $params;
  -ms-transform-origin: $params;
  -o-transform-origin: $params;
  transform-origin: $params;
}

@mixin boxSizing($params) {
  -webkit-box-sizing: $params;
  -moz-box-sizing: $params;
  box-sizing: $params;
}

@mixin borderRadius($params) {
  -webkit-border-radius: $params;
  -moz-border-radius: $params;
  border-radius: $params;
}

@mixin animation($params) {
  -webkit-animation: $params;
  -o-animation: $params;
  animation: $params;
}

@mixin animationFillMode($mode) {
  -webkit-animation-fill-mode: $mode;
  -moz-animation-fill-mode: $mode;
  -o-animation-fill-mode: $mode;
  animation-fill-mode: $mode;
}

@mixin animationDelay($time) {
  -webkit-animation-delay: $time;
  -moz-animation-delay: $time;
  -o-animation-delay: $time;
  animation-delay: $time;
}