$white: #fff;

$sidebar-bg: #f5f5f5;
$sidebar-border: #ddd;

$sidebar-title-bg: #ddd;
$sidebar-title-badge-bg: #999;
$sidebar-title-badge-color: $white;

$contact-hover-bg: darken($sidebar-bg, 5%);
$contact-online-color: #5be074;